
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  </head>

  <body>
<div class="ajaxbg">
<div class="ajaxinner">
<h4>You are now being redirected to paypal...</h4>
<img src="/images/ajax-loader.gif" alt=""/>
</div>
  
</div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Garasow-Market</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar nav">
            <% pages.forEach(function(page) { %>

              <% if(page.slug=="home") { %>
                <li><a href="/"><%= page.title %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
             <% } else  { %>
              <li><a href="<%= page.slug %>"><%= page.title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
             <% } %>
              
             <% }); %>
                </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <ul class="nav navbar-nav navbar-right">
                  <li>
                <a href="/cart/checkout">My cart(


                  <% if (typeof cart !=="undefined" ) {%>
                  <%= cart.length %>
                  
                 <% } else {%>
                     0
                     <% } %>
                )</a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <li><a href="/users/register">Register</a></li>&nbsp;&nbsp;&nbsp;
                <li><a href="/users/login">Log in</a></li>
                      </ul>
      
      </div>
    </nav>

    <main role="main" class="container">

    <%- messages('messages', locals) %>

    <% if (errors) {%>
      <% errors.forEach(function(error) { %>
      
      <div class="alert alert-danger">

        <%= error.msg %>
      </div>
      <% });%>
      <% } %>
<div class="row">
<div class="col-xs-12 col-md-3">

<h2>Categories</h2>
<ul class="list-group">
  <li class="list-group-item"><a href="/products">All products</a></li>
  <% categories.forEach(function(c){ %>
     <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
  <% }); %>
</ul>
</div>
<div class="col-xs-12 col-md-1"></div>
<div class="col-xs-12 col-md-8">

